.chapter-gradient {
  position: absolute;
  width: 100%;
  height: 100%;

  background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 90%);
  background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 90%);
  background: linear-gradient(to top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 90%);

  &.light {
    background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 90%);
    background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 90%);
    background: linear-gradient(to top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 90%);
  }
}
header.bottom {
  position: absolute;
  bottom: 100px;
  width: 100%;
  h1 {
    color: #b2b19f;
    font-size: 55px;
    margin-bottom: 10px;
    a {
      color: #b2b19f;
    }
  }
  hr {
    border-top: none;
    border-width: 1px;
    border-bottom-color: #b2b19f;
  }
  h2 {
    color: #b2b19f;
    font-size: 18px;
  }
  @media (max-height: $screen-xs) {
    bottom: 40px;
    h1 {
      font-size: 40px;
    }
  }
}
