.collection-search {
  @extend .col-xs-12;
  label {
    display: none;
  }
  .search-input {
    @extend .col-md-10;
    @extend .col-xs-8;
  }
  .search-btn {
    padding-left: 0;
    @extend .col-md-2;
    @extend .col-xs-4;
    .btn {
      width: 100%;
      @include text-ellipsis();
    }
  }
  .input-group {
    width: 100%;
  }
  .collection-filters {
    display: none;
    margin-top: -15px;
    clear: both;
    @extend .col-md-10;
    @extend .col-xs-max-8;
  }
  &.open .collection-filters {
    display: block;
  }
  .collection-filters-row {
    @extend .row;
    padding: 15px 5px;
    margin: -1px 1px 15px 0;
    border: 1px solid $gray-light;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 39px;
      height: 2px;
      background: $gray-lighter;
      top: -1px;
      left: 0;
      @media (max-width: $screen-xs-min) {
        display: none;
      }
    }
  }
  .collection-filter {
    display: inline-block;
    @extend .col-md-2;
    width: 20%;
    padding: 0 5px;
    @media (max-width: $screen-md-min) {
      width: 100%;
    }
  }
}
.collection-list {
  @extend .col-xs-12;
  margin: 20px 0;
}
.collection-list-item {
  display: block;
  @extend .col-sm-3;
  @extend .col-xs-max-6;
  &:nth-child(4n+1) {
    clear: both;
  }
  @media (max-width: $screen-xs-max) {
    &:nth-child(2n+1) {
      clear: both;
    }
  }
  margin: 0 0 20px 0;
  img {
    width: 100%;
  }
  h2 {
    @extend .base;
    margin: 10px 0 0 0;
  }
  p {
    margin: 10px 0 0 0;
  }
  .categories a {
    color: $text-color;
  }
}
.pagination-container {
  text-align: center;
}
