.home-fold-image {
  background: transparent center center no-repeat;
  background-size: cover;
  height: 430px;
  width: 100%;
}
.internal-links {
  margin: 100px 0 50px;
  .image-container {
    @extend .col-lg-4;
    @extend .col-md-4;
    @extend .col-sm-4;
    @extend .col-xs-max-12;
    &:nth-child(3n+1) {
      clear: both;
    }
  }
  .ih-item.square {
    box-shadow: none;
    width: 100%;
    height: 100%;
    border: none;
    margin-bottom: 30px;
  }
  .image-container .ih-item.square.effect13.bottom_to_top .info {
    background: rgba($brand-success, .8);
  }
  .ih-item.square.effect13.bottom_to_top {
    .info {
      opacity: 1;
      visibility: visible;
      text-align: left;
      @include transform( translateY(79%) );
      @media (max-width: $screen-sm-max) {
        @include transform( translateY(57%) );
      }
      @media (max-width: $screen-xs-max) {
        @include transform( translateY(75%) );
      }
      h3 {
        background: none;
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 25px;
        height: 10%;
        line-height: 1.3em;
        padding-bottom: 0;
        text-align: left;
        @media (max-width: $screen-md-max) {
          height: 10%;
          margin-top: 0;
        }
        @media (max-width: $screen-sm-max) {
          height: 25%;
          margin-top: 8px;
        }
        @media (max-width: $screen-sm-min) {
          margin-top: 4px;
        }
        @media (max-width: $screen-xs) {
          margin-top: 8px;
        }
      }
      .more {
        width: 100%;
        color: $brand-primary;
        padding: 0 10px;
        text-align: left;
      }
    }
    a:hover {
      .info {
        @include transform( translateY(70%) );
        @media (max-width: $screen-md-max) {
          @include transform( translateY(70%) );
        }
        @media (max-width: $screen-sm-max) {
          @include transform( translateY(45%) );
        }
        @media (max-width: $screen-xs-max) {
          @include transform( translateY(50%) );
        }
      }
    }
  }
}
.home-news {
  position: relative;
  @extend .row;
  margin: 15px 0 100px;
  header {
    border-top: 1px dotted $brand-primary;
    border-bottom: 1px dotted $brand-primary;
    margin-bottom: 20px;
  }
  h2 {
    @extend .h3;
    margin: 15px 0;
  }
  ul {
    @extend .list-unstyled;
    @extend .row;
    li {
      @extend .col-sm-4;
    }
  }
  h3, .title {
    @extend .h3;
    height: 4.4em;
    overflow: hidden;
    margin-bottom: 5px;
    @media (max-width: $screen-xs) {
      height: auto;
      overflow: auto;
    }
  }
  .meta {
    margin-bottom: 10px;
    font-size: 13px;
    .date:after {
      content: "|";
      margin: 0 .5em;
    }
    .categories {
      color: $brand-primary;
    }
  }
}
.home-more {
  @extend .btn;
  padding: 0;
  position: absolute;
  height: 1.5em;
  top: 18px;
  right: 10px;
  color: $brand-primary;
  @media (max-width: $screen-xs-max) {
    position: static;
  }
}
.home-visit {
  background: $brand-info;
  padding: 30px 0;
}
.home-visit-card {
  position: relative;
  @extend .col-lg-3;
  @extend .col-sm-4;
  h3 {
    @extend .h5;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px dotted $brand-primary;
  }
  p {
    color: $gray-light;
  }
  a:hover {
    color: $brand-primary;
  }
  .home-visit-card-text {
    @extend .row;
  }
  .icon {
    @extend .col-xs-2;
  }
  .text {
    @extend .col-xs-10;
  }
}
.home-visit-card-image {
  position: absolute;
  right: 20px;
  width: 240px;
  top: -11px;
}
