.filters-container, .pagination-container {
  background: rgba(#000, .4);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: calc((100% - 368px)/2);
}
.filters-container {
  z-index: 2;
  border-bottom: 1px solid #808079;
  .back {
    display: block;
    background: #585852;
    padding: 5px 0;
    width: 100%;
    color: #a7a79c;
  }
}
.pagination-container {
  top: auto;
  bottom: 0;
  border-top: 1px solid #808079;
  color: #a7a79c;
  font-size: 12px;
  letter-spacing: 2px;
  .pagination-text {
    margin-top: 8px;
  }
}
.filters-container {
  h1 {
    color: #a7a79c;
    font-size: 34px;
    font-weight: normal;
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
  }
}
.filters-position {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
}
.filters {
  text-align: left;
  font-size: 13px;
  width: 860px;
  margin: 0 auto;
  color: #808079;
  a {
    color: #808079;
    .arrow-down-icon {
      transition: .4s ease-out;
    }
    &:hover {
      .arrow-down-icon {
        transform: rotate(-90deg);
      }
    }
  }
}
.btn-border {
  border: 1px solid #6d6d66;
  padding: 2px 10px;
  margin: 0 4px;
}
