.filters-container, .pagination-container {
  background: rgba(#000, .4);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: calc((100% - 368px)/2);
}
.filters-container {
  z-index: 2;
  border-bottom: 1px solid #808079;
}
.pagination-container {
  top: auto;
  bottom: 0;
  border-top: 1px solid #808079;
  color: #a7a79c;
  font-size: 12px;
  letter-spacing: 2px;
  .pagination-text {
    margin-top: 8px;
  }
}
.filters-container {
  h1 {
    color: #a7a79c;
    font-size: 34px;
    font-weight: normal;
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
  }
}
.filters-position {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
}
.filters {
  text-align: left;
  font-size: 13px;
  width: 860px;
  margin: 0 auto;
  color: #808079;
  a {
    color: #808079;
    &:hover {
      .arrow-down-icon {
        transform: rotate(-90deg);
      }
    }
  }
}
.btn-border {
  border: 1px solid #6d6d66;
  padding: 2px 10px;
  margin: 0 4px;
}
.archive {
  @media (max-width: $screen-sm-max) {
    .top-button {
      min-height: 32px;
    }
    .related-videos-container {
      .previous, .next {
        display: none;
      }
      .related-videos-mask {
        left: 25px;
        right: 25px;
        width: calc(100% - 50px);
        overflow-y: hidden;
        overflow-x: auto;
      }
    }
    .pagination-container, .filters-position, .filters-container h1 {
      display: none;
    }
    .filters-container {
      background: none;
      border: none;
    }
    .archive-videos-container {
      left: 0 !important;
      top: 32px !important;
      transform: translate(0, 0) !important;
      height: 100% !important;
      .related-videos-container {
        left: 0 !important;
        top: 0 !important;
        transform: translate(0, 0) !important;
        width: 100% !important;
        .related-videos {
          left: 0 !important;
          top: 0 !important;
          position: static !important;
          width: 100% !important;
        }
        .related-videos-mask {
          overflow-x: hidden !important;
          overflow-y: auto !important;
          height: calc(100% - 67px) !important;
          top: 0 !important;
          left: 0 !important;
          width: 100% !important;
        }
        li {
          width: 160px;
          position: static;
          display: inline-block;
          margin: 5px 5px;
          transform: none !important;
        }
      }
    }
  }
}
