.video-player-controls {
  $button-width: 113px;

  position: absolute;
  bottom: 34px;
  width: 100%;
  height: 60px;
  text-align: left;
  .chapters-btn {
    width: $button-width;
    padding: 8px 0;
    font-size: 13px;
    text-align: center;
    background: #f2f0e6;
    display: block;
    float: left;
    color: $text-color;
    .dot {
      width: 8px;
      height: 8px;
      background: #6d6d66;
      border-radius: 50%;
      margin-right: 5px;
      &:last-child {
        margin: 0;
      }
      &:nth-child(1) {
        opacity: .4;
      }
      &:nth-child(2) {
        opacity: .6;
      }
      &:nth-child(4) {
        opacity: .6;
      }
      &:nth-child(5) {
        opacity: .4;
      }
    }
  }
  .progress-bar {
    position: relative;
    background: #f2f0e6;
    width: calc(100% - #{$button-width + ceil($button-width/2) + 1px} - 61px);
    margin-left: 1px;
    height: 100%;
    display: inline-block;
    padding: 0 30px;
    .bar-container {
      width: calc(100% - 60px);
      height: 1px;
      position: absolute;
      top: 50%;
    }
    .bar-progress, .bar-bg {
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
    }
    .bar-bg {
      background: #d2d1c2;
    }
    .related-container {
      width: calc(100% - 60px);
      height: 50%;
      position: absolute;
      top: 0;
    }
    .related-items {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .related-item {
        position: absolute;
        top: 50%;
        width: 4px;
        height: 4px;
        margin-top: -2px;
        margin-left: -2px;
        border-radius: 50%;
        background: #a72428;
      }
    }
    .bar-progress {
      width: 50%;
      background: #a72428;
      .bar-progress-control {
        position: absolute;
        top: -3px;
        right: -4px;
        background: #a72428;
        border-radius: 50%;
        width: 8px;
        height: 8px;
      }
    }
  }
  .player-buttons {
    width: ceil($button-width/2 -10px);
    height: 100%;
    font-size: 13px;
    text-align: center;
    background: #f2f0e6;
    display: block;
    float: right;
    padding: 0 5px;
    hr {
      border-top: none;
      border-bottom-color: #d2d1c2;
      margin: 0;
    }
    .mute-btn {
      padding: 3px 0 0;
      display: block;
    }
    .subs-btn {
      color: #a7a79c;
      display: block;
    }
  }
}
