.player-footer-container {
  $button-width: 113px;

  position: absolute;
  bottom: 0;
  width: 100%;
  .related-items-btn {
    position: absolute;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    bottom: 34px;
    color: $text-color;
    background: #d1d1c5;
  }
  &.compact {
    .related-items-btn {
      display: none;
    }
    .video-player-controls {
      height: 30px;
      bottom: 34px;
      .chapters-btn {
        display: none;
      }
      .duration-info {
        display: block;
      }
      .progress-bar {
        width: calc(100% - #{$button-width + ceil($button-width/2) + 1px} - (61px + 50px));
        .chapter-info {
          display: none;
        }
        .duration-info {
          display: none;
        }
        .related-items {
          display: none;
        }
      }
      .player-buttons {
        width: ceil($button-width/2 +40px);
        .mute-btn, .subs-btn, hr {
          display: inline-block;
          width: 21px;
          height: 21px;
        }
        hr {
          width: 1px;
          height: 21px;
          border-right: none;
          margin: 0 15px -6px 13px;
        }
        .mute-btn span {
          margin-bottom: -5px;
        }
      }
    }
  }
  .video-player-controls {
    position: absolute;
    bottom: 64px;
    width: 100%;
    height: 60px;
    text-align: left;
    & > .duration-info {
      display: none;
      width: $button-width;
      background: #f2f0e6;
      float: left;
      padding: 4px 0;
      color: #9d9d93;
      font-size: 13px;
      text-align: center;
    }
    .chapters-btn {
      width: $button-width;
      padding: 8px 0;
      font-size: 13px;
      text-align: center;
      background: #f2f0e6;
      display: block;
      float: left;
      color: $text-color;
      .dot {
        width: 8px;
        height: 8px;
        background: #6d6d66;
        border-radius: 50%;
        margin-right: 5px;
        &:last-child {
          margin: 0;
        }
        &:nth-child(1) {
          opacity: .4;
        }
        &:nth-child(2) {
          opacity: .6;
        }
        &:nth-child(4) {
          opacity: .6;
        }
        &:nth-child(5) {
          opacity: .4;
        }
      }
    }
    .progress-bar {
      position: relative;
      background: #f2f0e6;
      width: calc(100% - #{$button-width + ceil($button-width/2) + 1px} - 61px);
      margin-left: 1px;
      height: 100%;
      display: inline-block;
      padding: 0 30px;
      .container {
        width: calc(100% - 60px);
        height: 50%;
        position: absolute;
        top: 0;
      }
      .related-container {
        height: 30%;
      }
      .bar-container {
        top: 50%;
        height: 20%;
      }
      .info-container {
        top: 60%;
        height: 40%;
        font-size: 11px;
        .chapter-info {
          float: left;
        }
        .duration-info {
          float: right;
          color: #9d9d93;
        }
      }
      .bar-progress, .bar-bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 1px;
      }
      .bar-bg {
        background: #d2d1c2;
      }
      .related-items {
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
        height: 100%;
        .related-item {
          position: absolute;
          display: block;
          top: 50%;
          width: 4px;
          height: 4px;
          margin-top: -2px;
          margin-left: -2px;
          border-radius: 50%;
          background: #a72428;
        }
      }
      .bar-progress {
        width: 50%;
        background: #a72428;
        .bar-progress-control {
          position: absolute;
          top: -3px;
          right: -4px;
          background: #a72428;
          border-radius: 50%;
          width: 8px;
          height: 8px;
        }
      }
    }
    .player-buttons {
      width: ceil($button-width/2 -10px);
      height: 100%;
      font-size: 13px;
      text-align: center;
      background: #f2f0e6;
      display: block;
      float: right;
      padding: 0 5px;
      hr {
        border-top: none;
        border-bottom-color: #d2d1c2;
        margin: 0;
      }
      .mute-btn {
        padding: 3px 0 0;
        display: block;
      }
      .subs-btn {
        color: #a7a79c;
        display: block;
      }
    }
    .chapters {
      display: none;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      background: #f2f0e6;
      padding-bottom: 40px;
      ul {
        margin: 0;
        padding: 20px;
        list-style: none;
        text-align: center;
        a {
          display: inline-block;
          width: 100%;
          color: #a7a79c;
          padding: 15px 0;
          border-bottom: 1px solid #b2b2a6;
          &:hover, &.active {
            color: #a72428;
          }
        }
      }
    }
  }
}
