@import "autovariables";
body {
  font-family: $font-primary;
  margin: 0;
  background: $gray-lighter;
  color: $text-color;
  overflow: hidden;
}

body, html {
  @extend .base;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

h1 { @extend .h1;
  font-family: $font-secondary; }
h2 { @extend .h2;
  font-family: $font-primary; line-height: 1.2em; }
h3 { @extend .h3;
  font-family: $font-primary; }
h4 { @extend .h4;
  font-family: $font-secondary; }
h5 { @extend .h5;
  font-family: $font-primary; }
h6 { @extend .h6;
  font-family: $font-primary; }

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
  &.active {
    color: $link-active-color;
  }
}
.center-img {
  position: relative;
  width: 160px;
  height: 94px;
  overflow: hidden;
  img {
    width: 160px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.top-button {
  min-height: 100px;
  a {
    transition: all .4s ease;
    //transition-timing-function: cubic-bezier(0.77,0,0.175,1);
  }
  &:hover {
    a {
      padding: 12px 0;
    }
  }
}
.dropdown {
  position: relative;
}
ul.dropdown-menu {
  display: none;
  position: absolute;
  background: rgba(black, .95);
  list-style: none;
  padding: 20px;
  margin: 5px 0 0;
  width: 100%;
  width: calc(100% - 40px);
  &.visible {
    display: block;
  }
  li {
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 10px;
    }
  }
  a {
    display: block;
    width: 100%;
    border-bottom: 1px solid #808079;
    min-height: 26px;
    
  }
  .check-icon {
    display: none;
  }
  .selected {
    .check-icon {
      display: inline-block;
    }
  }
}
