@import "autovariables";
body {
  font-family: $font-primary;
  margin: 0;
  background: $gray-lighter;
  color: $text-color;
  overflow: hidden;
}

body, html {
  @extend .base;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

h1 { @extend .h1;
  font-family: $font-secondary; }
h2 { @extend .h2;
  font-family: $font-primary; line-height: 1.2em; }
h3 { @extend .h3;
  font-family: $font-primary; }
h4 { @extend .h4;
  font-family: $font-secondary; }
h5 { @extend .h5;
  font-family: $font-primary; }
h6 { @extend .h6;
  font-family: $font-primary; }

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
  &.active {
    color: $link-active-color;
  }
}
