.btn-group {
  position: relative;
  margin-bottom: 20px;
  button {
    color: $brand-primary;
    text-align: left;
    .caret {
      margin-left: 30px;
    }
  }
}
.dropdown-label, .btn-group {
  display: inline;
}
