.preloader, .landing, .chapter, .video-player, .archive {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
  }
  &.hidden {
    position: relative;
    top: 100%;
  }
  &.visible {
    position: absolute;
    top: 0;
    opacity: 1;
  }
}
.landing {
  &.visible {
    .intro-buttons {
      transform: translate(0, 0);
    }
  }
  &.hidden {
    .intro-buttons {
      transform: translate(0, 150px);
    }
  }
}
.archive {
  opacity: 1;
  &.hidden {
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translate(0, 100%);
  }
  &.visible {
    transform: translate(0, 0);
    opacity: 1;
  }
}
