.landing, .chapter, .video-player, .archive {
  opacity: 0;
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  transition: 1s opacity;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  &.visible {
    top: 0;
    opacity: 1;
  }
}
