include ../mixins/top-button
.bg
.archive
  .filters-container
    +topButton
    h1.text-uppercase MEDIA ARCHIVE
    .filters-position
      .filters
        .dropdown.pull-left
          a.dropdown-menu-btn.btn.text-uppercase(href="javascript:")
            span.glyphicon.arrow-down-icon
            span FILTER BY &nbsp;
          .dropdown-menu.multiple
            .filter-categories
              each menu in [1,2,3]
                .filter-category
                  h3 FILTER CATEGORY #{menu}
                  ul
                    each item in [1,2,3,4,5,6,7,8]
                      li
                        a(href="javascript:")
                          span.glyphicon.check-icon
                          span FILTER NAME
            a.btn.apply-filter-btn(href="javascript:") APPLY FILTERS
        .dropdown.pull-right
          a.dropdown-menu-btn.btn.text-uppercase(href="javascript:")
            span.glyphicon.arrow-down-icon
            span SHORT BY &nbsp;
          a.text-uppercase.btn-border VIDEO TITLE
          ul.dropdown-menu
            each item in [1,2,3,4]
              li
                a(href="javascript:" class=item==1?'selected':'')
                  span.glyphicon.check-icon
                  span NAME (ASC)
  .archive-videos-container
    .related-videos-container.page1
      a.btn.previous(href="javascript:")
        span.glyphicon.previous-icon
      .related-videos-mask
        ul.related-videos
          each item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
            li
              a(href="javascript:")
                .img(style="background-image: url(assets/images/thumbnail.jpg)")
                .info #{item}. RELATED VIDEO TITLE
      a.btn.next(href="javascript:")
        span.glyphicon.next-icon
  .pagination-container
    .pagination-text
      //span.glyphicon.previous-small-icon
      span.text PAGE&nbsp; 1&nbsp; OF&nbsp; 3
      //span.glyphicon.next-small-icon
