.bg
.chapter-title
  .chapter-gradient.light
  header.bottom.intro
    h1
      span.glyphicon.title-intro-icon
    .intro-buttons
      .intro-play-buttons
        a.btn.play-documentary-btn(href="javascript:") PLAY DOCUMENTARY
      .intro-media-buttons
        a.btn.chapters-btn(href="javascript:") CHAPTERS
        a.btn.archive-btn(href="javascript:") MEDIA ARCHIVE
.chapters.intro
  .top-button
    a.back(href="javascript:") BACK
  .chapters-container
    h1 CHAPTERS
    ul
      each item in [1,2,3,4,5,6,7]
        li
          a(href="javascript:") #{item} - CHAPTER TITLE
