footer
  a.btn.btn-footer.btn-home(href="#") HOME
  .footer-description
    .social
      a.glyphicon.facebook-icon(href="#")
      a.glyphicon.twitter-icon(href="#")
    span.copyright
      span.glyphicon.logo-small-icon
      span ALEXANDER THE GREAT ONLINE VIRTUAL MUSEUM & INTERACTIVE DOCUMENTARY &nbsp;
      span.footer-menu
        a(href="#") TERMS &nbsp;
        a(href="#") PRIVACY &nbsp;
        a(href="#") CREDITS &nbsp;
  a.btn.btn-footer.btn-library(href="#") LIBRARY
script(type="text/javascript", src="assets/js/main.js" async)
