footer
  .container
    .footer-item
      hr
      span.glyphicon.logo-small-icon
    .footer-item
      hr
      h3.text-uppercase Επικοινωνία
      p Βυζαντινό Μουσείο Βέροιας<br>(+30) 23310 92347<br><a href="mailto:cheimaria@yahoo.gr">cheimaria@yahoo.gr</a><br>‘Ωρες εξυπηρέτησης κοινού:<br>10:00 - 17:00<br>
    .footer-item
      hr
      h3.text-uppercase ΑΚΟΛΟΥΘΗΣΤΕ ΜΑΣ
      .social-icons
        a(href="#")
          span.glyphicon.facebook-icon
          span.text facebook
        a(href="#")
          span.glyphicon.twitter-icon
          span.text twitter
        a(href="#")
          span.glyphicon.google-plus-icon
          span.text Google plus
    .footer-item
      hr
      h3.text-uppercase NEWSLETTER
      form.form-inline.
        <label for="exampleInputEmail3">Εγγραφείτε στο Newsletter μας</label><input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email"><button type="submit" class="btn btn-default"><span class="text">Submit</span><span class="glyphicon arrow-icon"></span></button>
    .col-md-12
      hr
      p.pull-left © 2015 Βυζαντινό Μουσείο Βέροιας
      p.pull-right Created by&nbsp;
        a(href="#") Polyptychon
script(type="text/javascript", src="assets/js/main.js" async)
