footer
  a.btn.btn-footer.btn-home HOME
  .footer-description
    .social
      a.glyphicon.facebook-icon
      a.glyphicon.twitter-icon
    span.copyright
      span.glyphicon.logo-small-icon
      span ALEXANDER THE GREAT ONLINE VIRTUAL MUSEUM & INTERACTIVE DOCUMENTARY &nbsp;
      span.footer-menu
        a TERMS &nbsp;
        a PRIVACY &nbsp;
        a CREDITS &nbsp;
  a.btn.btn-footer.btn-library LIBRARY
script(type="text/javascript", src="assets/js/main.js" async)
