footer
  a.btn.btn-footer.btn-home(href="javascript:") HOME
  .footer-description
    .social
      a.glyphicon.facebook-icon(href="javascript:")
      a.glyphicon.twitter-icon(href="javascript:")
    span.copyright
      span.glyphicon.logo-small-icon
      span ALEXANDER THE GREAT ONLINE VIRTUAL MUSEUM & INTERACTIVE DOCUMENTARY &nbsp;
      span.footer-menu
        a(href="javascript:") TERMS &nbsp;
        a(href="javascript:") PRIVACY &nbsp;
        a(href="javascript:") CREDITS &nbsp;
  a.btn.btn-footer.btn-library(href="javascript:") LIBRARY
script(type="text/javascript", src="assets/js/main.js" async)
