include ../mixins/navbar
.header-bar
  .container.top-header-sub-menu.text-uppercase
    ul.header-bar-menu.pull-right
      li
        a(href="#") ENGLISH
    ul.header-bar-menu.pull-right
      li
        a(href="links.html") Σύνδεσμοι
      li
        a(href="contact.html") Επικοινωνία
.header
  .container
    +navbar({ activeIndex:mainMenuActiveIndex})
