- var seeAlsoLinks = [{img:"sa001.jpg", text:"Η τέχνη των Βυζαντινών"}, {img:"sa002.jpg", text:"Η σύνδεση του Μουσείου με την πόλη της Βέροιας"}, {img:"sa003.jpg", text:"Περιοδική έκθεση \"Παναγία μου\" στο Βυζαντινό Μουσείο Βέροιας από το Δεκέμβριο του 2013"}, {img:"sa004.jpg", text:"Σημεία ελευθερίας, Βέροια 1912-2012 του Χρήστου Μποκόρου"}]
aside.see-also
  .container
    header
      h2.text-uppercase ΔΕΙΤΕ ΕΠΙΣΗΣ
    .page-links
      each item in seeAlsoLinks
        a.page-link(href="#")
          .page-link-content
            img(src="assets/images/#{item.img}" width="263" height="140" alt="")
            .h3
              .title !{item.text}
              .more Περισσότερα
