doctype html
html(lang="en")
  head
    include partials/header
  body(style="background-image: url('assets/images/stone-light.jpg')")
    .chapter-title
      .chapter-gradient
      header.bottom
        h1
          a(href="video-player.html") CHAPTER TITLE
        hr
        h2 CHAPTER NUMBER
    include partials/footer
