doctype html
html(lang="en")
  head
    include partials/header
  body(style="background-image: url('assets/images/stone.jpg')")
    header.bottom
      h1 CHAPTER TITLE
      hr
      h2 CHAPTER NUMBER
    include partials/footer
