include mixins/carousel
include mixins/button-dropdown
include mixins/pagination
- var mainMenuActiveIndex = 1;
- var title = "Συλλογή";
- var collection = [{title:'Αμφιπρόσωπη εικόνα με τον άγιο Γεώργιο και τον άγιο Ανδρέα'}, {title:'Παναγία Γλυκοφιλούσα (Πελαγονίτισσα)'}, {title:'«Παρέστη η βασίλισσα εκ δεξιών σου…»'}, {title:'Αμφιρόσωπη εικόνα με την Παναγία Οδηγήτρια και την Παναγία Οδηγήτρια την "Παμμακάριστο"'}, {title:'Επιτύμβια ενεπίγραφη πλάκα που αναφέρεται στον κόμη Φατάλιο, τη σύζυγό του Κελερίνη και τον εγγονό του Σιλβανό, 492 μ.Χ.'}, {title: 'Μαρμάρινος μετρητής υγρών'}, {title: 'Απορρίμματα  κεραμικού εργαστηρίου'}, {title: 'Ψηφιδωτό δάπεδο από το νάρθηκα της παλαιοχριστιανικής βασιλικής του οικοπέδου Πορφύρη'}]
- var imgs = [{src:'assets/images/Ε93α.jpg', caption:'Η μία όψη της εικόνας απεικονίζει τον άγιο Γεώργιο'}, {src:'assets/images/Ε93β.jpg', caption:'Η μία όψη της εικόνας απεικονίζει τον άγιο Γεώργιο'}]
doctype html
html(lang="en")
  head
    include partials/header
  body
    include partials/header-body
    section.content
      h1
        span.text-uppercase=title
      .container
        .row.news
          .col-md-12
            .pull-left
              a.back-to-list(href="collection.html")
                span.link-back-icon.glyphicon
                span &nbsp;Πίσω στη λίστα
            .pull-right
              a.previous(href="#")
                span.link-back-icon.glyphicon
                span &nbsp;Προηγούμενο&nbsp;
              a.next(href="#")
                span &nbsp;Επόμενο&nbsp;
                span.link-forward-icon.glyphicon
        .row.news
          .col-md-12
            .row
              .col-md-8
                +carousel(imgs)
              .col-md-4
                hr
                h2 Αμφιπρόσωπη εικόνα με τον άγιο Γεώργιο και τον άγιο Ανδρέα
                p.
                  Είδος: <a href="#">Φορητή εικόνα</a><br>
                  Χρονολόγηση: <a href="#">β΄ μισό 12ου αι. - α΄ μισό 18ου αι.</a><br>
                  Διαστάσεις: <a href="#">Ύψος: 107 εκ., πλάτος: 71 εκ., πάχος εκ.</a><br>
                  Υλικά κατασκευής: <a href="#">Ξύλο, ύφασμα και χρωστικές</a><br>
                  Προέλευση: <a href="#">Βέροια, Ιερός ναός Αγίου Ανδρέα ενορίας Αγίου Γεωργίου</a><br>
                hr
                p Στη λιτανευτική εικόνα με τον άγιο Γεώργιο, ο άγιος παριστάνεται ως τη μέση, με στρατιωτική ενδυμασία και εξάρτηση. Ευθυτενής, μετωπικός, με στάση ευγενή και συγκρατημένη, αποπνέει στιβαρότητα και εσωτερική ηρεμία. Η μορφή του, κοσμικά ωραία, έχει τονισμένα χαρακτηριστικά τα οποία, μολονότι ταιριάζουν στην περιγραφή του από την Ερμηνεία, θα μπορούσαν να αποτελούν άριστο δείγμα προσωπογραφίας της εποχής. Η πίσω όψη της εικόνας ζωγραφήθηκε σε πολύ μεταγενέστερο χρόνο, ενδεχομένως κατά τη μεταφορά της στο ναό του Αγίου Ανδρέα. Τα τεχνοτροπικά χαρακτηριστικά της την σχετίζουν με αγιορείτικα εργαστήρια των αρχών του 18ου αιώνα.
                hr
                .article-actions
                  include partials/share-menu
    include partials/footer
