doctype html
html(lang="en")
  head
    include partials/header
  body(style="background-color: black;")
    .page.preloader.visible
      canvas(id="preloader" width="100" height="100")
    .page.landing.hidden
      include pages/landing
    .page.chapter.hidden
      include pages/chapter-title
    .page.video-player.hidden
      include pages/video-player
    .page.archive.hidden
      include pages/archive

    include partials/footer
