doctype html
html(lang="en")
  head
    include partials/header
  body(style="background-color: black;")
    .preloader.visible
      canvas(id="preloader" width="100" height="100")
    .landing.hidden
      include pages/landing
    .chapter.hidden
      include pages/chapter-title
    .video-player.hidden
      include pages/video-player
    .archive.hidden
      include pages/archive

    include partials/footer
