doctype html
html(lang="en")
  head
    include partials/header
  body(style="background-color: black;")
    .preloader
      canvas(id="preloader" width="100" height="100")
    .landing
      include pages/landing
    .chapter
      include pages/chapter-title
    include partials/footer
