doctype html
html.intro(lang="en")
  head
    include partials/header
  body.intro(style="background-image: url('assets/images/mosaic.jpg')")
    .logo
      div
        span.glyphicon.logo-icon
      span.glyphicon.title-icon
      nav.lang-nav
        a.btn.btn-primary(href="./en") ENGLISH
        a.btn.btn-primary(href="./el") ΕΛΛΗΝΙΚΑ
