doctype html
html(lang="en")
  head
    include partials/header
  body(style="background-image: url('assets/images/mosaic.jpg')")
    .logo
      div
        span.glyphicon.logo-icon
      span.glyphicon.title-icon
    nav.lang-nav
      .btn.btn-primary ENGLISH
      .btn.btn-primary ΕΛΛΗΝΙΚΑ
    include partials/footer
