doctype html
html(lang="en")
  head
    include partials/header
  body.show-chapters-intro(style="background-image: url('assets/images/alexander.jpg')")
    .chapter-title
      .chapter-gradient.light
      header.bottom.intro
        h1
          span.glyphicon.title-intro-icon
        a.btn.play-documentary-btn(href="chapter-title.html") PLAY DOCUMENTARY
        a.btn.chapters-btn(href="#") CHAPTERS
        a.btn.archive-btn(href="#") MEDIA ARCHIVE
    .chapters-intro
      .chapters-intro-container
        h1 CHAPTERS
        ul.chapters
          each item in [1,2,3,4,5,6,7]
            li
              a(href="#") #{item} - CHAPTER TITLE
    include partials/footer
