doctype html
html(lang="en")
  head
    include partials/header
  body(style="background-image: url('assets/images/stone-light.jpg')")
    .chapter-title
      .chapter-gradient
      header.bottom
        h1 
          span.glyphicon.title-intro-icon
    include partials/footer
