doctype html
html(lang="en")
  head
    include partials/header
  body(style="background-image: url('assets/images/stone-light.jpg')")
    .chapter-title
      .chapter-gradient
      header.bottom.intro
        h1
          span.glyphicon.title-intro-icon
        a.btn.play-documentary-btn(href="#") PLAY DOCUMENTARY
        a.btn.chapters-btn(href="#") CHAPTERS
        a.btn.archive-btn(href="#") MEDIA ARCHIVE
    include partials/footer
