include mixins/button-dropdown
include mixins/pagination
- var mainMenuActiveIndex = 3;
- var title = "Νέα";
- var collection = [{title:'Αμφιπρόσωπη εικόνα με τον άγιο Γεώργιο και τον άγιο Ανδρέα'}, {title:'Παναγία Γλυκοφιλούσα (Πελαγονίτισσα)'}, {title:'«Παρέστη η βασίλισσα εκ δεξιών σου…»'}, {title:'Αμφιρόσωπη εικόνα με την Παναγία Οδηγήτρια και την Παναγία Οδηγήτρια την "Παμμακάριστο"'}, {title:'Επιτύμβια ενεπίγραφη πλάκα που αναφέρεται στον κόμη Φατάλιο, τη σύζυγό του Κελερίνη και τον εγγονό του Σιλβανό, 492 μ.Χ.'}, {title: 'Μαρμάρινος μετρητής υγρών'}, {title: 'Απορρίμματα  κεραμικού εργαστηρίου'}, {title: 'Ψηφιδωτό δάπεδο από το νάρθηκα της παλαιοχριστιανικής βασιλικής του οικοπέδου Πορφύρη'}]
doctype html
html(lang="en")
  head
    include partials/header
  body
    include partials/header-body
    section.content
      h1
        span.text-uppercase=title
      .container
        .row.news
          .row-no-margins
            .col-md-8.col-md-offset-2
              .pull-right
                .dropdown-label Κατηγορία &nbsp;
                +button-dropdown({label: "Όλες", menuItems: ["Κατηγορία 1", "Κατηγορία 2"]})
          each item in [1,2,3]
            .col-md-8.col-md-offset-2.news-post
              h2
                a(href="news-details.html") Περιοδική έκθεση "Παναγία μου" στο Βυζαντινό Μουσείο Βέροιας από το Δεκέμβριο του 2013
              .meta
                span.date 15 MAΪΟΥ 2015
                span.categories.text-uppercase
                  a(href="#") Κατηγορία
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi a placeat sit sed cem. Quidem vero animi voluptates consequuntur officia consequatur temporibus nesciunt ipsam sed impedit doloremque, a quae nobis provident veniam ab omnis ratione nisi illum, error pariatur voluptatum nam aliquam!
              a.more(href="news-details.html") Περισσότερα
              hr
        .pagination-container
          +pagination()
    include partials/footer
