include mixins/button-dropdown
include mixins/pagination
- var mainMenuActiveIndex = 3;
- var title = "Νέα";
- var collection = [{title:'Αμφιπρόσωπη εικόνα με τον άγιο Γεώργιο και τον άγιο Ανδρέα'}, {title:'Παναγία Γλυκοφιλούσα (Πελαγονίτισσα)'}, {title:'«Παρέστη η βασίλισσα εκ δεξιών σου…»'}, {title:'Αμφιρόσωπη εικόνα με την Παναγία Οδηγήτρια και την Παναγία Οδηγήτρια την "Παμμακάριστο"'}, {title:'Επιτύμβια ενεπίγραφη πλάκα που αναφέρεται στον κόμη Φατάλιο, τη σύζυγό του Κελερίνη και τον εγγονό του Σιλβανό, 492 μ.Χ.'}, {title: 'Μαρμάρινος μετρητής υγρών'}, {title: 'Απορρίμματα  κεραμικού εργαστηρίου'}, {title: 'Ψηφιδωτό δάπεδο από το νάρθηκα της παλαιοχριστιανικής βασιλικής του οικοπέδου Πορφύρη'}]
doctype html
html(lang="en")
  head
    include partials/header
  body
    include partials/header-body
    section.content
      h1
        span.text-uppercase=title
      .container
        .row.news
          .col-md-8.col-md-offset-2
            .pull-left
              a.back-to-list(href="news.html")
                span.link-back-icon.glyphicon
                span &nbsp;Πίσω στη λίστα
            .pull-right.navigation
              a.previous(href="#")
                span.link-back-icon.glyphicon
                span &nbsp;Προηγούμενο&nbsp;
              span &nbsp;|&nbsp;
              a.next(href="#")
                span &nbsp;Επόμενο&nbsp;
                span.link-forward-icon.glyphicon
        .row.news
          .col-md-8.col-md-offset-2.news-post
            h2 Περιοδική έκθεση "Παναγία μου" στο Βυζαντινό Μουσείο Βέροιας από το Δεκέμβριο του 2013
            .meta
              span.date 15 MAΪΟΥ 2015
              span.categories.text-uppercase
                a(href="#") ΚΑΤΗΓΟΡΙΑ
            .content-html
              p Το Βυζαντινό Μουσείο της Βέροιας στεγάζεται στον Μύλο του Μάρκου, ένα πρόσφατα ανακαινισμένο βιομηχανικό κτίριο των αρχών του αιώνα, το οποίο βρίσκεται στη γειτονιά της διατηρητέας συνοικίας της Κυριώτισσας.
              p Περιλαμβάνει τρεις ορόφους, συνολικού εμβαδού 720 τ.μ. καθένας από τους οποίους θα φιλοξενεί μια εννοιολογικά αυτοτελή ενότητα της μόνιμης έκθεσης. Το υλικό της μόνιμης έκθεσης περιλαμβάνει μέρος της πλούσιας συλλογής φορητών εικόνων, τοιχογραφίες από ναούς και κοσμικά κτίρια, ψηφιδωτά δάπεδα, χειρόγραφα και παλαίτυπα, έργα αγγειοπλαστικής και μικροτεχνίας, νομίσματα και ξυλόγλυπτα, ταφικά ευρήματα, αρχιτεκτονικά γλυπτά και μαρμάρινες επιγραφές.
              p Οι στόχοι που φιλοδοξεί να πετύχει το νέο μουσείο καθορίστηκαν με γνώμονα τη φυσιογνωμία της σύγχρονης κοινωνίας, η οποία επιβάλλει σ' αυτό να συνδυάσει όλες τις παραδοσιακές αξίες του μουσείου ως οργανισμού, με το ενδιαφέρον για την ενεργό και αμφίδρομη συνεργασία με όλους τους κοινωνικούς φορείς. Το μουσειολογικό πρόγραμμα είναι βασισμένο στην ιδέα ενός μουσείου με περιφερειακό χαρακτήρα, το οποίο θα παραπέμπει στον πολιτισμό όλης της Κεντρικής και Δυτικής Μακεδονίας, συμπληρώνοντας παράλληλα τις συλλογές της Θεσσαλονίκης.
            .article-actions
              include partials/share-menu
    include partials/footer
