doctype html
html(lang="en")
  head
    include partials/header
  body(style="background-image: url('assets/images/hades.jpg')")
    .video-player-controls
      .btn.chapters-btn
        .dots
          span.glyphicon.dot
          span.glyphicon.dot
          span.glyphicon.dot
          span.glyphicon.dot
          span.glyphicon.dot
        span CHAPTERS
      .progress-bar
    include partials/footer
