include ../mixins/top-button
mixin player(type)
  - type = type || ''
  if type=="compact"
    +topButton('BACK')
  .bg
  .video
    video(preload="true")
      source(src="https://googledrive.com/host/0Bw8k9x-W_uS_QXRUeEE5bnBLRTg" type="video/webm")
      source(src="https://googledrive.com/host/0Bw8k9x-W_uS_aHZDWDVyal9tSm8" type="video/mp4")
  .player-footer-container(class=type)
    .video-player-controls
      .duration-info 07:06 | 32:46

      a.btn.chapters-btn(href="javascript:")
        .dots
          each item in [1,2,3,4,5]
            span.glyphicon.dot
        span CHAPTERS
      .progress-bar
        .progress-bar-container
          .container.related-container
            if type!="compact"
              .related-items
                .related-item(style="left:10%;")
                .related-item(style="left:17%;")
                .related-item(style="left:20%;")
                .related-item(style="left:50%;")
                  .related-item-popup
                    .img
                      img(src="assets/images/thumbnail.jpg")
                    .info RELATED VIDEO TITLE
          .container.bar-container
            .bar-bg
            .bar-progress
              .bar-progress-control
          .container.info-container
            .chapter-info 1 - CHAPTER TITLE
            .duration-info 07:06 | 32:46
        .chapters
          .chapters-intro-container
            ul
              each item in [1,2,3,4,5,6,7]
                li
                  a(href="javascript:") #{item} - CHAPTER TITLE
        .progress-bar-container
          .info-popup.compact
            .related-item-popup
              .img
                img(src="assets/images/thumbnail.jpg")
              .info RELATED VIDEO TITLE
      .player-buttons
        a.mute-btn(href="javascript:")
          span.glyphicon.speaker-icon
        hr
        a.subs-btn(href="javascript:") CC
    .related-items-container
      a.btn.related-items-btn(href="javascript:") RELATED VIDEOS (NUMBER)
      .related-videos-container
        a.btn.previous(href="javascript:")
          span.glyphicon.previous-icon
        .related-videos-mask
          ul.related-videos
            each item in [1,2,3,4,5,6,7,8,9]
              li
                a(href="javascript:")
                  .img
                    img(src="assets/images/thumbnail.jpg")
                  .info RELATED VIDEO TITLE
        a.btn.next(href="javascript:")
          span.glyphicon.next-icon
