include ../mixins/top-button
mixin player(type, backLabel)
  - type = type || ''
  - backLabel = backLabel || 'BACK'
  if type=="compact"
    +topButton(backLabel)
  .bg
  .video
    //video(preload="true")
    //  source(src="https://googledrive.com/host/0Bw8k9x-W_uS_QXRUeEE5bnBLRTg" type="video/webm")
    //  source(src="https://googledrive.com/host/0Bw8k9x-W_uS_aHZDWDVyal9tSm8" type="video/mp4")
    //video(preload="true")
    //  source(src="https://googledrive.com/host/0Bw8k9x-W_uS_ZEpSaEstQjgzcVk" type="video/webm")
    //  source(src="https://googledrive.com/host/0Bw8k9x-W_uS_bkF5eVNqckNYeWM" type="video/mp4")
    //video(preload="true")
    //  source(src="https://googledrive.com/host/0Bw8k9x-W_uS_WDBjM0huRnlaMUU" type="video/webm")
    //  source(src="https://googledrive.com/host/0Bw8k9x-W_uS_S1ZRUkZwSUFteGs" type="video/mp4")
    .buffering.hidden
    .play.hidden
    .pause.hidden
    .subtitles

  .player-footer-container(class=type)
    .video-player-controls
      .duration-info 07:06 | 32:46

      a.btn.chapters-btn
        .dots
          each item in [1,2,3,4,5]
            span.glyphicon.dot
        span CHAPTERS
      .progress-bar
        .progress-bar-container
          .container.related-container
            if type!="compact"
              .related-items

          .container.bar-container
            .bar-bg
            .bar-progress
              .bar-progress-control
          .container.info-container
            .chapter-info 1 - CHAPTER TITLE
            .duration-info 07:06 | 32:46
        .chapters
          .chapters-intro-container
            ul
              each item in [1,2,3,4,5,6,7]
                li
                  a #{item} - CHAPTER TITLE
        .progress-bar-container
          .info-popup.compact.hidden
            .related-item-popup
              .img(style="background-image: url(assets/images/thumbnail.jpg)")
              .info RELATED VIDEO TITLE
      .player-buttons
        a.mute-btn
          span.glyphicon.speaker-icon
        hr
        a.subs-btn CC
    .related-items-container
      a.btn.related-items-btn RELATED VIDEOS
      .related-videos-container
        a.btn.previous
          span.glyphicon.previous-icon
        .related-videos-mask
          ul.related-videos
            each item in [1,2,3,4,5,6,7,8,9]
              li
                a
                  .img
                    img(src="assets/images/thumbnail.jpg")
                  .info RELATED VIDEO TITLE
        a.btn.next
          span.glyphicon.next-icon
